build:remote --host_javabase=@rbe_default//java:jdk
build:remote --javabase=@rbe_default//java:jdk
build:remote --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:remote --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:remote --crosstool_top=@rbe_default//cc:toolchain
build:remote --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

build:remote --extra_toolchains=@rbe_default//config:cc-toolchain
build:remote --extra_execution_platforms=@rbe_default//config:platform
build:remote --host_platform=@rbe_default//config:platform
build:remote --platforms=@rbe_default//config:platform


build:remote --strategy=remote
build:remote --strategy=Genrule=remote  
build:remote --spawn_strategy=remote
#build:remote --define=EXECUTOR=remote
build:remote --remote_executor=grpc://localhost:8980
build:remote --remote_timeout=3600
build:remote --cpu=x86_64
build:remote --host_cpu=x86_64
#build --experimental_repo_remote_exec

#build:remote --os=linux

#build:remote --google_default_credentials=true
#build:remote --incompatible_strict_action_env=true

#build --spawn_strategy=remote --remote_executor=grpc://localhost:8980
#build --experimental_repo_remote_exec #--action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
#build --define=EXECUTOR=remote
#build --action_env=PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/go/bin"
#build --platforms=@io_bazel_rules_go//go/toolchain:linux_x86_64
